@import url('../section-subtitle/_theme_dark/section-subtitle_theme_dark.css');
@import url('../section-title/_theme_dark/section-title_theme_dark.css');
@import url('../table/__theme_dark/table__theme_dark.css');

.kaufman {
    padding-top:  90px;
    padding-bottom: 90px;
    background-color: black;
}